WebSiteConsumir/App_WebReferences/WsBDCarla/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WSlistado">
        <s:complexType />
      </s:element>
      <s:element name="WSlistadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSlistadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSaltasp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_Persona" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSaltaspResponse">
        <s:complexType />
      </s:element>
      <s:element name="WScambiarp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_Persona" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WScambiarpResponse">
        <s:complexType />
      </s:element>
      <s:element name="WSbajasp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_Persona" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSbajaspResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WSlistadoSoapIn">
    <wsdl:part name="parameters" element="tns:WSlistado" />
  </wsdl:message>
  <wsdl:message name="WSlistadoSoapOut">
    <wsdl:part name="parameters" element="tns:WSlistadoResponse" />
  </wsdl:message>
  <wsdl:message name="WSaltaspSoapIn">
    <wsdl:part name="parameters" element="tns:WSaltasp" />
  </wsdl:message>
  <wsdl:message name="WSaltaspSoapOut">
    <wsdl:part name="parameters" element="tns:WSaltaspResponse" />
  </wsdl:message>
  <wsdl:message name="WScambiarpSoapIn">
    <wsdl:part name="parameters" element="tns:WScambiarp" />
  </wsdl:message>
  <wsdl:message name="WScambiarpSoapOut">
    <wsdl:part name="parameters" element="tns:WScambiarpResponse" />
  </wsdl:message>
  <wsdl:message name="WSbajaspSoapIn">
    <wsdl:part name="parameters" element="tns:WSbajasp" />
  </wsdl:message>
  <wsdl:message name="WSbajaspSoapOut">
    <wsdl:part name="parameters" element="tns:WSbajaspResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="WSlistado">
      <wsdl:input message="tns:WSlistadoSoapIn" />
      <wsdl:output message="tns:WSlistadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSaltasp">
      <wsdl:input message="tns:WSaltaspSoapIn" />
      <wsdl:output message="tns:WSaltaspSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WScambiarp">
      <wsdl:input message="tns:WScambiarpSoapIn" />
      <wsdl:output message="tns:WScambiarpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSbajasp">
      <wsdl:input message="tns:WSbajaspSoapIn" />
      <wsdl:output message="tns:WSbajaspSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSlistado">
      <soap:operation soapAction="http://tempuri.org/WSlistado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSaltasp">
      <soap:operation soapAction="http://tempuri.org/WSaltasp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WScambiarp">
      <soap:operation soapAction="http://tempuri.org/WScambiarp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSbajasp">
      <soap:operation soapAction="http://tempuri.org/WSbajasp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WSlistado">
      <soap12:operation soapAction="http://tempuri.org/WSlistado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSaltasp">
      <soap12:operation soapAction="http://tempuri.org/WSaltasp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WScambiarp">
      <soap12:operation soapAction="http://tempuri.org/WScambiarp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSbajasp">
      <soap12:operation soapAction="http://tempuri.org/WSbajasp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:63374/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:63374/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>